<!DOCTYPE html>
<html>
<head>
  <title>Action cable notifications</title>
  <%= stylesheet_link_tag    "action_cable_notifications/application", media: "all" %>
  <%= javascript_include_tag "action_cable_notifications/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
